/* .scrollable-container {
  height: 1000px;
  overflow-y: scroll;
} */
/* .background {
  padding-top: 60px;
  height: 300px;
  background-image: url('https://zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg');
} */

/* .scrollable-container{
  position: relative;
}

.parent{ 
  /* position:inherit; 

  justify-content: center;
  width: 300px;
  /* height: 300px; 
} */


.preview {
  /* height: 100vh; */
  /* position: absolute; */
  /* width: 100%; */
  /* position: fixed; */
  /* width: 200px;
  height: 200px; */

}

#img{
  position: sticky;
  left: 0;
  top: 0;
}


/* .sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 15px;
}

.sticky.js-is-sticky {
  background-color: red;
} */